/* CSS Document */
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 80%;
    margin: 0 auto !important;
    float: none !important;
}
.header{
    width: inherit;
    height: 35px;
    margin-top:15px;
}
.register{
    display: block;
    position: inherit;
}

.signInRegisterDiv{
    text-align: right;
}
.signInSignUpButton {
	background-color:#3db35d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3a942c;
    margin-right: 10px;
}
.signInSignUpButton:hover {
	background-color:#5ba135;
}
.signInSignUpButton:active {
	position:relative;
	top:1px;
}

.title{
    height: 115px;
    width: inherit;
    font-family: 'Cinzel', serif;
    font-size: 60px;
    text-align: center;
    border-bottom: thick solid #000;
}
h1.titleSmall{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin: 0 auto !important;
}
.titletrending{
    height: 30px;
    width: inherit;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 10 0;
}
.button{
    height: 30px;
    width: auto;
    font-family: Lucida Sans Typewriter, Times New Roman;
    font-size: 26px;
    margin: 10px;
}
.calctype{
    height: 20px;
    width: 20px;
}
.tField{
    width:300px;
    height:60px;
    border:1px solid #000;
    padding-left: 8px;
    font-family:Times New Roman;
    font-size:50px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.selector{
    width:300px;
}
.container{
    width: inherit;
    text-align: center;
}
.searchDiv{
    float: left;
    position: absolute;
}
.mask{
   background: #000;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 8888;
   width: 100%;
   height: 100%;
   opacity: 0.60;
}
.popupInfo{
    display: none;
    position: absolute;
    width: 25%;
    left:35%;
    background-color:#FFF;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
    z-index: 9999;
    text-align: center;
}
.tField{
    width:200px;
    height:30px;
    border:1px solid #000;
    padding-left: 3px;
    font-family:'Josefin Sans', sans-serif;
    font-size:26px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.table{
    display: inline-block;
    font-family:'Josefin Sans', sans-serif;
}
.description{
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
    width: 300px;
    height: 100px;
}
h1.articleTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin-top: 10px !important;
    text-align: left;
}
p.todaydate{
    font-family: Josefin Sans, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0 !important;
}
p.welcomeusername{
    font-family: Josefin Sans, sans-serif;
    font-size: 24px;
    text-align: right;
    float:right;
    margin: 0 !important;
    display:inline;
    white-space: nowrap;
}
p.articleLink{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    text-align: left;
    margin: 10px !important;
    background-color:#8bedcc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
    padding: 5px !important;
}
p.articleInfo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    text-align: left;
    margin: 10px !important;
    padding: 5px !important;
}
p.articleLink:hover{
    background-color:#49c69d;
}
p.comments{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 10px !important;
    background-color:#8bedcc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
    padding: 5px !important;
}
p.comments:hover{
    background-color:#49c69d;
}
span.commentTimestamp{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    margin: 0 !important;
    text-align:left;
}
img.profileImage{
    width: 300px;
    height: 200px;
    float: right;
    margin: 0 !important;
}


